@implements IDisposable

<div class="containerFooter">
    <h6>@LanguageService.MadeByLabel &nbsp; <i class='bi bi-suit-heart-fill text-danger'></i> &nbsp Between Byte Software - @_date</h6>
</div>


@code {
 string _date = DateTime.Now.Year.ToString();

    public void Dispose()
    {
        LanguageService.ChangeLanguage -= StateHasChanged; ;
    }
}
