.containerModalImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: auto;
    gap: 10px;
}

.containerModalImages img {
    width: 100px;
    height: 100px
}
